#include "../../../ctp.h"
#include "pybind11/pybind11.h"
#include "../../include/{{h_filename}}"

using namespace pybind11;

//常量
{{defines}}

///-------------------------------------------------------------------------------------
///C++ SPI的回调函数的继承实现
///-------------------------------------------------------------------------------------

//API的继承实现
class {{class_name}} : public {{base_class_name}}
{
private:
	{{api_type}}* api;				//API对象
	thread task_thread;					//工作线程指针（向python推送数据）
	TaskQueue task_queue;			//任务队列
	bool active = false;				//活动状态

public:
	{{class_name}}()
	{
	};

	virtual ~{{class_name}}()
	{
		if (this->active)
		{
			this->exit();
		}
	};

	//-------------------------------------------------------------------------------------
	//从{{base_class_name}}继承的C++回调函数
	//-------------------------------------------------------------------------------------

{{virtual_functions}}

	//-------------------------------------------------------------------------------------
	//工作线程处理函数
	//-------------------------------------------------------------------------------------

	void processTask();

{{process_declarations}}

	//-------------------------------------------------------------------------------------
	//Python回调函数
	//data：回调函数的数据字典
	//error：回调函数的错误字典
	//id：请求id
	//last：是否为最后返回
	//i：整数
	//-------------------------------------------------------------------------------------

{{on_declarations}}

	//-------------------------------------------------------------------------------------
	//主动函数
	//-------------------------------------------------------------------------------------

{{function_declarations}}
};